<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <h1>Create Item</h1>

    <form action="/create" method="POST">
        <input type="text" name="name" placeholder="Item Name">
        <input type="number" name="age" placeholder="Age">
        <input type="number" name="phoneNumber" placeholder="phone number">
        <input type="text" name="city" placeholder="city Name">
   <!-- missing -->
        <button type="submit">Create</button>
    </form>

    <a href="/">Back to All Items</a>
</body>
</html>
