<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <style>
        form{
            display: inline;
        }
    </style>
</head>
<body>
    <h1>CRUD App</h1>

    <h2>All Student</h2>
    <ul>
        <% items.forEach(item => { %>
            <li><%= item.name %>   <%= item.age %>    <%= item.number %>   <%= item.city %>-<a href="/update/<%= item._id %>">Update</a> | <form action="/delete/<%= item._id %>" method="POST"><button type="submit">Delete</button></form></li>
        <% }) %>
    </ul>

    <a href="/addItem">Create New Item</a>
</body>
</html>