<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <h1>Update Item</h1>

    <form action="/update/<%= item._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= item.name %>">
        <input type="number" name="age" value="<%= item.age %>">
        <input type="number" name="phoneNumber" value="<%= item.phoneNumber %>">
        <input type="string" name="city" value="<%= item.city %>">
        <button type="submit">Update</button>
    </form>

    

    <a href="/">Back to All Items</a>
</body>
</html>
